@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient-canvas {
  width:100%;
  height:100%;
  --gradient-color-1: #3e3e3e; 
  --gradient-color-2: #13193f; 
  --gradient-color-3: #272c32;  
  --gradient-color-4: #0e1a25;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
